.compEventoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    width: 650px;
    height: 650px;
}

.eventoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.eventoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.eventoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}