.temaDark {
    background-color: gray;
    height: 200px;
}

.temaClaro {
    background-color: silver;
    height: 200px;
}

.tituloBusca {
    font-size: 18pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.label1 {
    color: white;
    font-size: 16pt;
}

.input1 {
    width: 300px;    
    height: 20px;
}

.button1 {
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 4px;
    margin-left: 10px;
}