.compGrupoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    width: 650px;
    height: 650px;
}

.grupoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.grupoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.grupoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}